*
        body{
            background: url(bg.png) no-repeat;
            background-size: 100%;
            background-attachment:  scroll;
            height: 2250px;
        }
        p{
            text-align: center;
            font-family: Candara;
            color: black;
            position: fixed;
            bottom: 10px;
            margin: auto;
            padding: 10px;
            background: #e7547a;
            width: 100%;
        }
        .blur img {
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
 
        .blur img:hover {
            -webkit-filter: blur(25px);
        }