*
        header {
            text-align: left;
            font-family: Calibri;
            font-size: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            color: 0A1827;
        }
        p {
            text-align: center;
            font-family: Calibri;
            font-size: 150%;
            margin: 10px;
        }
        .qu {
            display: block;
            width: 45%;
            border-radius: 10px;
            background-color: CCD9CE;
            height: auto;
            margin: auto;
        }
        ul {
            margin-bottom: 50px;
            margin-top: 50px;
        }
        footer {
            margin: 20px;
        }