*
        header {
            text-align: center;
            font-family: Calibri;
            font-size: 200%;
            margin-top: 10px;
            margin-bottom: 10px;
            color: F24C27;
        }
        .qu {
            display: block;
            width: 55%;
            border-radius: 20px;
            background-color: 56B9D0;
            height: auto;
            margin: auto;
        }
        p {
            text-align: center;
            font-family: Calibri;
            color: FEFEFE;
            font-size: 300%;
        }
       ul {
            margin-left: 50px;
            margin-top: 50px;
            list-style-image: url(checkmark.png);
        }
        li {
            font-family: Calibri;
            color: FEFEFE;
            font-size: 200%;
        }