*
        h1 {
            font-family: Arial;
            color: FFFFE8;
            text-align: center;
            font-size: 300%;
        }
        .num {
            font-family: Impact;
            color: F67300;
            text-align: center;
            font-size: 200%;
        }
        p {
            font-family: Tahoma;
            font-size: 400%;
            color: 04A77A;
        }
        p.text{
            font-family: Times New Roman;
            font-size: 250%;
            color: E8BF05;
        }