*
        h1 {
            font-family: Arial;
            color: aliceblue;
            text-align: center;
            font-size: 300%;
        }
        .num {
            font-family: Impact;
            color: coral;
            text-align: center;
            font-size: 200%;
        }
        p {
            font-family: Tahoma;
            font-size: 400%;
            color: aquamarine;
        }
        p.text{
            font-family: Times New Roman;
            font-size: 250%;
            color: crimson;
        }