*
           table{
                width: 300px;
                border-collapse: collapse;
                border: 1px solid black;
                margin: auto;
            }
            th, td{
                border: 1px solid black;
                font-family: Candara;
            }
            .top{
                text-align: center;
                font-family: Candara;
            }
            p{
                text-align: center;
                font-family: Candara;
                font-size: 70%;
            }