*
        nav, footer{
            font-family: candara;
            text-align: center;
            color: darkgray;
        }
        aside{
            font-family: candara;
            color: darkgray;
        }