*
            .txt{
                text-align: center;
                font-family: Candara;
                color: 5C4B51;
                letter-spacing: 1px;
            }
            p{
                line-height: 0.1em;
            }
            p.s{
                font-family: Candara;
                color: 5C4B51;
                letter-spacing: 1px;
            }
            p.grow{
                text-align: left;    
                line-height: 1.3em;
                text-indent: 360px;
                font-family: Candara;
                color: 5C4B51;
                letter-spacing: 1px;
                margin-top: 0.1em;
                margin-bottom: 0.1em;
            }
            p.grow_down{
                text-align: center;
                line-height: 1.3em;
                font-family: Candara;
                color: 5C4B51;
                letter-spacing: 1px;
                margin-top: 0.1em;
                margin-bottom: 0.1em;
            }
